@import "../../../modulos_scss/colors";
@import "../../../modulos_scss/elements";
@import "../../../modulos_scss/fonts";
@import "../../../modulos_scss/media";
@import "../../../modulos_scss/mixin";

nav{
    width: 100%;
    padding: 10px 20px;
    background-color: $colorGray3;
    @include flexAj(center, space-between);
    .boxLogo{
        color: $colorGray5;
        font-size: $fontSize1;
    }
    ul{
        @include flexAj(center, center);
        gap: 20px;
        li{
            a{
                font-size: $fontSize1;
                color: $color1;
            }
        }

        li:hover{
            a{
                color: $colorGray5;
            }
        }
    }
}

