@mixin buttons {
    .buttonFill {
      padding: 7px 15px;
      background-color: $color1;
      border: solid 1px $color1;
      color: white;
      border-radius: 50px;
      font-size: 0.9em;
      text-decoration: none;
    }
  
    .buttonBorder {
      padding: 7px 15px;
      background-color: white;
      border: solid 1px $color1;
      color: $color1;
      border-radius: 50px;
      font-size: 0.9em;
      text-decoration: none;
    }
  
    .buttonFill:hover {
      background-color: white;
      border: solid 1px $color1;
      color: $color1;
      cursor: pointer;
    }
  
    .buttonBorder:hover {
      background-color: $color1;
      border: solid 1px $color1;
      color: white;
      cursor: pointer;
    }
  }